@media(max-width:1920px){
    .bannerWrap .posRight{right:20%;}
    .bannerWrap .logoWrap{right:5%;}
}
@media(max-width:1770px){
    .bannerWrap .posRight{right:18%;}
    .bannerWrap .logoWrap{right:5%;}
}
@media(max-width:1600px){
    .bannerWrap .posRight{right:15%;}
    .bannerWrap .logoWrap{right:4%;}
}
@media(max-width:1500px){
    .bannerWrap .posRight{right:14%;}
    .bannerWrap .logoWrap{right:3%;}
}
@media(max-width:1440px){
    .bannerWrap .posRight{right:12%;}
}
@media(max-width:1365px){
    
}
@media(max-width:1280px){
    html{font-size:60.5%;}
    .bannerWrap .posRight{right:8%;}
    .bannerWrap .logoWrap{right:20px;}
}
@media(max-width:1199px){
    .bannerWrap .logoWrap{right:45px;bottom:22%;}
    .bannerWrap .logoWrap .imgWrap{bottom:auto;}
    .bannerWrap .imgWrap{bottom:-56px;}
    .formWrap{bottom:-40px;}
    .formWrap p{line-height:18px;}
    .bannerWrap{margin:-140px auto 0;}
    .whyAbroadWrap .dataWrap p{font-size:1.6rem;line-height:22px;}
}
@media(max-width:1100px){
    html{font-size:58.5%;}
    .bannerWrap .logoWrap .imgWrap{width:126px;}
    .bannerWrap .posRight{right:5%;}
    .bannerWrap .logoWrap{right:20px;bottom:21%;}
    .bannerWrap .imgWrap{bottom:-51px;}
    .formWrapper:before{height:37px;top:-37px;}
    .formWrap{bottom:-36px;}
}
@media(max-width:1023px){
   
}
@media(max-width:991px){
    html{font-size:56.5%;}
    .bannerWrap .imgWrap{bottom:-52px;}
    .formWrapper:before{height:40px;top:-40px;}
    .formWrapper .container,
    .bannerWrap .container{width:100%;max-width:100%;}
    .bannerWrap .posLeft{max-width:420px;}
    .bannerWrap .logoWrap .imgWrap{width:110px;}
    .bannerWrap .logoWrap{right:6px;}
    ul.benifitsList li{width:32%;}
    .width100pr{width:100%;max-width:100%;}
    .sliderDataWrap .col-md-6{max-width:80%;flex:0 0 80%;width:100%;}
    .sliderDataWrap .col-md-9{max-width:100%;flex:0 0 100%;width:100%;}
}
@media(max-width:990px){
    .bannerWrap .imgWrap{bottom:-52px;transform:rotate(359deg);}
    .formWrapper:before{height:47px;top:-44px;}
}
@media(max-width:900px){
    .bannerWrap .imgWrap{bottom:-45px;}
    .formWrapper .dataWrap{padding:0;}
}
@media(max-width:800px){
    .bannerWrap .posLeft{max-width:371px;}
    .bannerWrap .infobarleft ul li{margin:0 10px 0 0}
    .bannerWrap .logoWrap{right:0px;}
    .bannerWrap .infobar.infoWrapRight .dataWrap p{font-size:1rem;}
    .bannerWrap .infobar.infoWrapRight .dataWrap h1{font-size:3.4rem;letter-spacing:0;}
    .bannerWrap .posRight{right:0%;}
    .bannerWrap .infobarleft ul li .imgWrap.imgMail{width:43px;}
    .bannerWrap .infobarleft ul li .imgWrap.imgCall{width:36px;}
    .bannerWrap .infobarleft ul li .dataWrap a{font-size:1.3rem;}
    .bannerWrap .imgWrap{bottom:-36px;}
    .bannerWrap .posRight{max-width:400px;}
}
@media(max-width:768px){
    .bannerWrap{margin:-105px auto 0;}
}
@media(max-width:767px){
    .bannerWrap .posLeft{top:10px;right:10px;width:100%;transform:none;left:auto;padding:0;max-width:332px;}
    .bannerWrap .logoWrap{right:auto;left:0;top:10px;padding:0 0 0 10px;}
    .bannerWrap .logoWrap .imgWrap{width:80px;}
    .bannerWrap .posRight{right:0%;display:none;}
    .formWrapper:before{content:none;}
    .bannerWrap .imgWrap{bottom:-74px;transform:rotate(362deg);}
    .formWrapper{padding:70px 0 30px;}
    .formWrapper .row.align-items-center{flex-direction:column-reverse!important;} 
    .formWrapper .dataWrap h2{text-align:center;}
    .formWrapper .col-md-6.d-flex.justify-content-end{justify-content:center!important;}
    .formWrap{bottom:auto;margin-top:10px;}
    .width100{width:100%;max-width:100%;}
    .whydmsfWrap .titleWrap h2 br{display:none;}
    ul.featuresListing li{width:50%;}
    .whydmsfWrap{padding:60px 0;}
    .bannerWrap{margin:0 auto;}
    .formWrapper .dataWrap{padding:0 50px;}
    .slick-arrow.slick-prev:after{left:0px;}
    .slick-arrow.slick-next{right:34px;}
    .forMobile{flex-flow:column-reverse;}
    .whyAbroadWrap .imgWrap{max-width:300px;display:inline-block;margin:0 auto 22px;}
    .whyAbroadWrap .innerTitle{padding:20px 0 35px;}
    .sliderDataWrap .col-md-6{padding:0!important;}
}
@media(max-width:700px){
    .bannerWrap .imgWrap{bottom:-67px;}
}
@media(max-width:650px){
    .bannerWrap .imgWrap{bottom:-61px;}
}
@media(max-width:600px){
    .bannerWrap .imgWrap{bottom:-55px;}
    .titleWrap h2{font-size:2.8rem;}
    .formWrapper .dataWrap h2{font-size:2.2rem;line-height:28px;}
    ul.benifitsList li .iconWrap{width:100px;height:74px;}
    ul.benifitsList li .iconWrap img{width:70px;}
    ul.benifitsList li .dataWrap h2{font-size:1.4rem;line-height:18px;}
}
@media(max-width:575px){
    .footerAddress{text-align:center!important;padding:5px 0;}
    .rightDivider:after{content:none;}
    .titleWrap h2{font-size:2.6rem;}
    .benifitsWrap .topSectionWrap h2{font-size:4rem;position:relative;top:-7px;}
    .benifitsWrap .topSectionWrap h3{font-size:2.2rem;}
}
@media(max-width:500px){
    .bannerWrap .imgWrap{bottom:-45px;}
    ul.benifitsList li{width:100%;margin:0 0 25px;}
    ul.benifitsList li:last-child{margin:0;}
}
@media(max-width:459px){
    .bannerWrap .posLeft{max-width:200px;}
    .bannerWrap .infobarleft ul li .imgWrap{display:none;}
    .bannerWrap .infobarleft ul li{position:relative;}
    .bannerWrap .infobarleft ul li:first-child:after{content:"";width:1px;height:60%;background-color:#000000;position:absolute;right:-6px;
    top:50%;transform:translateY(-50%);}
    .bannerWrap .infobarleft ul li:last-child{margin:0;}
    .bannerWrap .infobar{padding:10px 8px;}
    .titleWrap h2{font-size:2.2rem;}
    .formWrapper .dataWrap{padding:0;}
    ul.featuresListing li{width:100%;}
}
@media(max-width:340px){
    .bannerWrap .logoWrap .imgWrap{width:50px;}  
    .bannerWrap .imgWrap{bottom:-30px;} 
}