@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
@font-face {
  font-family: 'Gotham';
  src:url('../fonts/Gotham-Black.eot');
  src:url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gotham-Black.woff2') format('woff2'),
      url('../fonts/Gotham-Black.woff') format('woff'),
      url('../fonts/Gotham-Black.ttf') format('truetype'),
      url('../fonts/Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src:url('../fonts/Gotham-Bold.eot');
  src:url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gotham-Bold.woff2') format('woff2'),
      url('../fonts/Gotham-Bold.woff') format('woff'),
      url('../fonts/Gotham-Bold.ttf') format('truetype'),
      url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src:url('../fonts/Gotham-Book.eot');
  src:url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gotham-Book.woff2') format('woff2'),
      url('../fonts/Gotham-Book.woff') format('woff'),
      url('../fonts/Gotham-Book.ttf') format('truetype'),
      url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src:url('../fonts/Gotham-Light.eot');
  src:url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gotham-Light.woff2') format('woff2'),
      url('../fonts/Gotham-Light.woff') format('woff'),
      url('../fonts/Gotham-Light.ttf') format('truetype'),
      url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src:url('../fonts/Gotham-Medium.eot');
  src:url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gotham-Medium.woff2') format('woff2'),
      url('../fonts/Gotham-Medium.woff') format('woff'),
      url('../fonts/Gotham-Medium.ttf') format('truetype'),
      url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src:url('../fonts/Gotham-Thin.eot');
  src:url('../fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gotham-Thin.woff2') format('woff2'),
      url('../fonts/Gotham-Thin.woff') format('woff'),
      url('../fonts/Gotham-Thin.ttf') format('truetype'),
      url('../fonts/Gotham-Thin.svg#Gotham-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src:url('../fonts/Gotham-XLight.eot');
  src:url('../fonts/Gotham-XLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gotham-XLight.woff2') format('woff2'),
      url('../fonts/Gotham-XLight.woff') format('woff'),
      url('../fonts/Gotham-XLight.ttf') format('truetype'),
      url('../fonts/Gotham-XLight.svg#Gotham-XLight') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html{font-size:62.5%;height:100%;}
body{font-family:'Gotham';font-weight:normal;font-style:normal;box-sizing:border-box;position:relative;font-size:1.5rem;line-height:26px;color:#000000;}
a, a:hover, a:focus, a:active{text-decoration:none;outline:0;}
input, input:focus, input:hover, input:active{outline:0;box-shadow:none;}
ul{margin:0 auto;padding:0;list-style:none;}
button, button:hover, button:active, button:focus{box-shadow:none;outline:0;border:0;}
#scrollUp,
#back-top {background:#115586;height:50px;width:50px;right:25px;bottom:85px;position:fixed;color:#fff;font-size:20px;text-align:center;border-radius:50%;-webkit-border-radius:50%; line-height:48px;border:2px solid transparent;box-shadow:0 0 10px 3px rgba(108, 98, 98, 0.2)}
#scrollUp a i,
#back-top a i{display:block;line-height:50px;color:#ffffff;}
#scrollUp:hover{color:#fff}
.slick-arrow{position:absolute;top:40%;transform:translateY(-50%);background:transparent;color:transparent;z-index:9;}
.slick-arrow.slick-next{right:-5px;}
.slick-arrow.slick-prev:after,
.slick-arrow.slick-next:after{content:"\f11b";font-family:'Flaticon';color:#6d6e76;background-color:#ffffff;height:54px;width:40px;border-radius:0%;-webkit-border-radius:0%;position:absolute;line-height:54px;font-size:2rem;cursor:pointer;}
.slick-arrow.slick-prev:after{left:-40px;transform:rotate(180deg);}
.slick-initialized .slick-slide{outline:0;box-shadow:none;}
ul.slick-dots{padding:40px 0 0;}
ul.slick-dots li{display:inline-block;margin:0 2px;} 
ul.slick-dots li button{color:transparent;width:16px;height:16px;border-radius:100%;-webkit-border-radius:100%;background-color:#b5b5b5;}
ul.slick-dots li.slick-active button{background-color:#ffdd99;}
.titleWrap{width:100%;text-align:center;margin:0 auto;padding:0 0 30px;}
.titleWrap h2{text-transform:uppercase;font-size:3.2rem;font-weight:bold;margin:0;letter-spacing:0.4px;}
.sweet-alert .sa-icon.sa-warning{border-color:#115586!important;width:60px;height:60px;margin:0px auto 10px!important;}
.sweet-alert .sa-icon.sa-warning .sa-body,
.sweet-alert .sa-icon.sa-warning .sa-dot{background-color:#115586!important;}
.sweet-alert .sa-icon.sa-warning .sa-body{height:30px!important;}
.sweet-alert h2{text-transform:uppercase!important;font-family:'Gotham'!important;margin:10px auto 0!important;font-weight:600!important;color:#000000!important;}
.sweet-alert p{text-transform:uppercase!important;font-weight:500!important;font-family:'Gotham'!important;}
.sweet-alert button{background-color:#115586!important;margin:15px auto 0!important;padding:5px 50px 3px!important;}
input:-internal-autofill-selected{background-color:transparent!important;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{-webkit-box-shadow:0 0 0 52px #e5e7e9 inset!important;}

.bannerWrap{width:100%;padding:30px 0 0;margin:-178px auto 0;background-image:url(../img/bg-img.png);background-repeat:no-repeat;background-size:cover;position:relative;background-position:center top;}
.bannerWrap .overlay{position:absolute;background-color:rgba(17, 85, 134, 0.4);height:100%;width:100%;top:0;}
.bannerWrap .imgWrap{position:relative;bottom:-75px;z-index:2;}
.bannerWrap .infobar{background-color:#c3a916;padding:15px 20px;border-radius:10px;}
.bannerWrap .infobarleft ul{display:flex;align-items:center;flex-flow:row wrap;}
.bannerWrap .infobarleft ul li{display:flex;flex-flow:row wrap;align-items:center;margin:0 16px 0 0;}
.bannerWrap .infobarleft ul li .imgWrap{bottom: auto;margin-right:10px;}
.bannerWrap .infobarleft ul li .imgWrap.imgMail{width:50px;}
.bannerWrap .infobarleft ul li .imgWrap.imgCall{width:40px;}
.bannerWrap .infobarleft ul li .imgWrap img{width:100%;}
.bannerWrap .infobarleft ul li .dataWrap a{color:#000000;font-weight:bold;}
.bannerWrap .posLeft{position:absolute;top:43%;left:0;right:0;text-align:center;margin:0 auto;transform:translateX(-50%);z-index:1;max-width:450px;}
.bannerWrap .logoWrap{position:absolute;bottom:34%;right:10px;}
.bannerWrap .logoWrap .imgWrap{width:160px;}
.bannerWrap .posRight{position:absolute;bottom:18%;right:120px;max-width:450px;}
.bannerWrap .infobar.infoWrapRight .dataWrap{text-align:right;}
.bannerWrap .infobar.infoWrapRight .dataWrap h1{color:#2d3439;text-transform:uppercase;margin:0;font-weight:bold;font-size:4rem;line-height:30px;letter-spacing:2px;}
.bannerWrap .infobar.infoWrapRight .dataWrap p{color:#2d3439;margin:4px 0 0;font-size:1.1rem;line-height:10px;}

.formWrapper{width:100%;margin:0 auto;padding:0;position:relative;background:linear-gradient(to top, #ffffff 40%, #f6f6f6 60%);}
.formWrapper:before{content:"";background-color:#f6f6f6;width:100%;height:43px;position:absolute;clip-path:polygon(93% 9%,100% 0,100% 100%,0 100%);-webkit-clip-path:polygon(93% 9%,100% 0,100% 100%,0 100%);-ms-clip-path:polygon(93% 9%,100% 0,100% 100%,0 100%);clip-path:polygon(93% 9%,100% 0,100% 100%,0 100%);-moz-clip-path:polygon(93% 9%,100% 0,100% 100%,0 100%);top:-35px;}
.formWrap{max-width:360px;width:100%;margin:0;text-align:center;background-color:#115586;padding:50px 30px 30px;border-radius:6px;-webkit-border-radius:5px;position:relative;bottom:-56px;}
.formWrap h3{color:#ffffff;font-size:2rem;margin:0;}
.formWrap p{color:#ffffff;margin:0;}
ul.formList{padding:20px 0 0;}
ul.formList li .inputField{background-color:#e5e7e9;display:flex;flex-flow:row wrap;justify-content:space-between;align-items:center;padding:5px 15px;height:52px;border-bottom:1px solid #ffffff;} 
ul.formList li:first-child .inputField{border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;box-shadow:inset 0 7px 10px -7px rgb(158 156 156);}
ul.formList li:nth-child(4) .inputField{border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;box-shadow:inset 0 -7px 10px -7px rgb(158 156 156);border:0;}
ul.formList li .inputField span{font-size:1.8rem;color:#b1b3b7;} 
ul.formList li .inputField input{width:calc(100% - 28px);border:0;outline:none;box-shadow:none;background-color:transparent;padding:0;height:100%;} 
ul.formList li .inputField .selectWrap{width:calc(100% - 28px);height:100%;position:relative;}
ul.formList li .inputField .selectWrap:after{content:"▼";width:28px;height:32px;background-color:#d19122;font-size:1rem;color:#ffffff;position:absolute;top:50%;transform:translateY(-50%);right:0px;line-height:32px;pointer-events:none;}
ul.formList li .inputField .selectWrap select{appearance:none;-moz-appearance:none;-webkit-appearance:none;outline:none;width:100%;height:100%;border:0;background:transparent;}
ul.formList li .ctaWrap{width:100%;border:0;padding:0;margin:25px 0 0;}
ul.formList li .ctaWrap .btn{background-image:url(../img/btn.png);background-repeat:no-repeat;background-color:transparent;padding:10px 15px;margin:0;box-shadow:none;outline:0;border:0;width:100%;border-radius:3px;-webkit-border-radius:3px;font-size:2.4rem;text-transform:uppercase;font-weight:bold;color:#ffffff;text-shadow:0px 0px 4px rgb(0 0 0 / 30%);letter-spacing:1px;background-size:100%;}
input::-webkit-input-placeholder{font-size:1.4rem;line-height:12px;color:#6f7278;}
input::-moz-placeholder{font-size:1.4rem;line-height:12px;color:#6f7278;}
input:-ms-input-placeholder{font-size:1.4rem;line-height:12px;color:#6f7278;}
input:-moz-placeholder{font-size:1.4rem;line-height:12px;color:#6f7278;}
.formWrapper .dataWrap{padding:0px 50px;}
.formWrapper .dataWrap h2{color:#115586;font-size:2.6rem;line-height:38px;font-weight:bold;text-align:right;text-transform:uppercase;}
.formWrapper .dataWrap h2 span{color:#000000;font-weight:bold;}



.whydmsfWrap{width:100%;margin:0 auto;text-align:center;padding:100px 0 60px;background-color:#ffdd99;}
.whydmsfWrap .titleWrap h2{color:#3c4761;}
ul.featuresListing{display:flex;flex-flow:row wrap;justify-content:space-between;padding:15px 0 0;}
ul.featuresListing li{width:24%;}
ul.featuresListing li .iconWrap{background-color:#878787;width:80px;height:80px;border-radius:100%;text-align:center;margin:0 auto 20px;}
ul.featuresListing li .dataWrap h2{color:#27283d;font-size:1.6rem;line-height:24px;}
ul.featuresListing li .dataWrap p{color:#3c4761;line-height:22px;}

.whyAbroadWrap{width:100%;margin:0 auto;text-align:center;padding:60px 0;background-color:#3e5c9f;}
.whyAbroadWrap .titleWrap h2{color:#ffdd99;}
.whyAbroadWrap .dataWrap{text-align:left;}
.whyAbroadWrap .dataWrap p{color:#ffdd99;font-size:1.8rem;font-weight:500;line-height:28px;margin:0 0 15px;}
.whyAbroadWrap .imgWrap{border:3px solid #ffdd99;}
.whyAbroadWrap .innerTitle{padding:50px 0 35px;position:relative;margin:0 0 35px;}
.whyAbroadWrap .innerTitle:after,
ul.studyMedicineList li .dataWrap h2:after{content:"";background-color:#ffdd99;width:60px;height:4px;margin:0 auto;position:absolute;left:0;right:0;text-align:center;bottom:0;}
.whyAbroadWrap .innerTitle p{color:#ffffff;font-size:1.8rem;font-weight:600;text-transform:uppercase;margin:6px 0 0;}
.whyAbroadWrap .sliderDataWrap .silderttl p{color:#ffdd99;font-weight:600;font-size:1.6rem;}
ul.studyMedicineList li{text-align:center;}
ul.studyMedicineList li .iconWrap{margin:0 auto;text-align:center;display:inline-block;padding:20px 0;}
ul.studyMedicineList li .iconWrap img{width:80px;text-align:center;}
ul.studyMedicineList li .dataWrap h2{text-align:center;color:#ffffff;text-transform:uppercase;padding:0 0 25px;margin:0 0 25px;position:relative;font-size:1.8rem;letter-spacing:1px;}
ul.studyMedicineList li .dataWrap p{color:#ffffff;text-align:center;font-size:1.6rem;line-height:26px;font-weight:500;margin:0;}
ul.studyMedicineList li .dataWrap p a{color:#ffffff;}

.benifitsWrap{width:100%;margin:0 auto;text-align:center;padding:60px 0;background-color:#ffdd99;}
.benifitsWrap .topSectionWrap{border:1px solid #273a71;margin:0 0 70px;}
.benifitsWrap .topSectionWrap h2{text-transform:uppercase;color:#273a71;font-weight:600;font-size:5rem;margin:-34px auto 0px;display:inline-block;background-color:#ffdd99;padding:0 5px;}
.benifitsWrap .topSectionWrap h3{text-transform:uppercase;color:#181e4d;font-weight:600;font-size:2.4rem;margin:0px auto;
line-height:30px;letter-spacing:0.5px;}
.benifitsWrap .topSectionWrap p{background-color:#273a71;display:inline-block;padding:9px 22px;font-size:1.6rem;text-transform:uppercase;font-weight:500;color:#ffffff;line-height:16px;margin:-10px auto 0;position:relative;bottom:-16px;}
ul.benifitsList{display:flex;flex-flow:row wrap;justify-content:space-between;}
ul.benifitsList li{width:30%;}
ul.benifitsList li .iconWrap{width:100px;height:100px;display:inline-block;margin:0 0 5px;}
ul.benifitsList li .iconWrap img{width:90px;}
ul.benifitsList li .dataWrap h2{color:#273a71;text-transform:uppercase;font-size:1.6rem;line-height:24px;margin:0;}


.studentLifeWrap{background:#d74680;width:100%;margin:0 auto;padding:60px 0 80px;}
.studentlifeListing li{padding:0;margin:0 -2px 0 0;}
.studentlifeListing .imgWrap .icon{padding:0;margin:0;list-style:none;transform:translateX(-50%) translateY(-50%);position:absolute;left:50%;top:50%;z-index:2;display:inline-block;margin:0 8px;opacity:0;transition:all 0.3s ease-in-out;}
.studentlifeListing .imgWrap:hover .icon{opacity:1;}
.studentlifeListing .imgWrap .icon span{color:#ffffff;font-size:14px;text-align:center;line-height:28px;width:33px;height:33px;
  border:2px dashed #ffffff;display:block;transition:all 0.3s ease-in-out;}
.studentlifeListing .imgWrap:hover .icon span{text-shadow:3px 3px rgba(255,255,255,0.3);box-shadow:4px 4px rgba(255,255,255,0.4);}
.studentlifeListing .imgWrap{width:100%;height:100%;background-color:#000000;position:relative;overflow:hidden;border:2px solid #ffffff;}
.studentlifeListing .imgWrap img{width:100%;object-fit:cover;height:100%;box-shadow:0px 1px 6px rgb(0 0 0 / 20%);
transform:scale(1.3);transition:all 0.3s ease-in-out;}
.studentlifeListing .imgWrap:hover img{opacity:0.5;opacity:0.6;transform:scale(1);}
.galleryImg{margin:10px 0 0;border-right:2px solid #ffffff;}
.studentLifeWrap .titleWrap h2{color:#ffffff;}

.footer-padding{padding-top:40px;padding-bottom:30px}
.footer-area{background:#273a71}
.footer-area .footer-heading .footer-tittle2 h4{color:#fff;font-size:26px;margin-bottom:20px;font-weight:500; text-align:center;}
.footer-social{width:100%;text-align:center;margin:0 auto 15px;display:inline-block;}
.footer-social a{display:inline-block;width:50px;height:50px;line-height:50px;color:#fff;background:#2d3092;margin-right:4px;margin-left:4px;border-radius:100%;-webkit-border-radius:100%;overflow:hidden;position:relative;text-align:center;font-size:2.4rem;}
.footer-social a.facebook{background-color:#337fff;}
.footer-social a.twitter{background-color:#33ccff;}
.footer-social a.youtube{background-color:#ff0000;}
.footer-social a.instagram{background:#d6249f;background:linear-gradient(140deg, #fdf497 0%, #fdf497 20%, #fd5949 43%,#d6249f 60%,#285AEB 100%);}

.footerAddress{width:100%;margin:0 auto;position:relative;padding:10px 0;}
.rightDivider:after{content:"";width:2px;height:100%;background-color:#ffffff;position:absolute;right:-15px;top:0px;}
.footerAddress p{color:rgba(255,255,255,1);font-size:1.4rem;letter-spacing:0;line-height:22px;margin:5px auto 0;font-weight:400;}
.footerAddress p strong{font-size:1.6rem;font-weight:500;color:rgba(255,255,255,1);}
.footerAddress ul{padding:0;margin:0 auto;display:inline-block;}
.footerAddress ul li{display:inline-block;margin:0;padding:0px;position:relative;line-height:14px;}
.footerAddress ul li:first-child{padding-right:8px;}
.footerAddress ul li:first-child:after{content:"";width:2px;background-color:#ffffff;height:100%;position:absolute;right:1px;}
.footerAddress ul li a{color:rgba(255,255,255,1);font-size:1.4rem;letter-spacing:0;font-weight:400;}

.footerMenu{background-color:#26221f;padding:6px 0;text-align:center;margin:0 auto;}
.footerMenu ul{text-align:center;margin:0 auto;}
.footerMenu ul li{display:inline-block;position:relative;margin:0 5px;line-height:14px;}
.footerMenu ul li:not(:last-child):after{content:"";background-color:#ffffff;width:1px;height:100%;position:absolute;right:-8px;top:1px;}
.footerMenu ul li a{color:#ffffff;text-transform:uppercase;font-size:1.2rem;line-height:14px;font-weight:500;letter-spacing:0.4px;}